.box {
  position: absolute;
  width: 266px;
  height: 94vh;
  left: 72px;
  top: 56px;
  padding-top: 12px;
  background: #ffffff;
  border-right: 2px solid #eef0ff;
}

li {
  list-style: none;
  gap: 5px;
}
img {
  margin-right: 10px;
}
